body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	box-sizing:border-box;
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: absolute;/* Stay in place */
	z-index: 111; /* Stay on top */
	top: 0;
	position: fixed;
	left: 0;
	font-family: sans-serif;
	box-shadow: 2px 1px 11px gray;
	background-color: #137180; /* white*/
	overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: hidden;
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.1s; /* 0.5 second transition effect to slide in the sidenav */
}
 
/* The navigation menu links */
.sidenav a {
	padding: 5px;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	margin-left: 30px;
	display: block;
	transition: 0.3s;
}
 
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
	color: #2E8518;
}
 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	background-color: #137180;
	width: 15%;
	right: 0;
	overflow: hidden;
	font-size: 40px;
	margin-left: 150px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	overflow:hidden;
	width: 90%;
	color: #fff;
	padding: 20px;
	background-color: #347780 /*@7bb53e*/;
	margin: auto;
}
body {
  overflow-x: hidden;
}
 
/* Add a black background color to the top navigation */
.topnav {
	background-color: #e9e9e9;
	overflow: hidden;
	width: 100%;
	position: fixed;
	margin-bottom: 10px;
	z-index: 10;
}
 
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
 
/* Change the color of links on hover */
.topnav a:hover {
	color: black;
}
 
/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
 
a svg{
  transition:all .5s ease;
 
  &:hover{
	#transform:rotate(180deg);
  }
}
 
#ico{
  display: none;
}
 
.menu{
  background: #fff;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
 
  #transition: all 0.5s ease;
 
  a{
	display: block;
	color: #fff;
	text-align: center;
	padding: 10px 2px;
	margin: 3px 0;
	text-decoration: none;
	background: #444;
 
	&:nth-child(1){
	  margin-top: 0;
	  @include border-radius(3px 3px 0 0 );
	}
	&:nth-child(5){
	  margin-bottom: 0;
	  @include border-radius(0 0 3px 3px);
	}
 
	&:hover{
	  background: #555;
	}
  }
}

h1{
	color: white;
	font-size: 20px;
}

.logout{
	background-color: #137180;
	color: white;
	border:none;
	font-size: 10px;
	height: 40px;
	float: right;
	border-radius: 5px;
}

.logout:hover{
	background-color: #fff;
	color: #137180;
	border:none;
	font-size: 10px;
	height: 40px;
	float: right;
	border-radius: 5px;
}

.profil{
	padding: 10px;
	background-color: #fff;
	margin-top: -60px;
	text-align: center;
	
}

.profil img{
	width: 60%;
}

.left{
	display: inline-block;
	line-height: 5px;
}

.right{
float: right;
line-height: 1px;
display: inline-block;
	}
	
	
	
.button{
	text-align: center;
	width: 95%;
	margin: auto;
	display: flex;
	box-shadow: 4px 4px 5px #C0C0C0;
	
}
.vir{
	display: flex;
	width: 50%;
	border-top: 0.5px solid #C0C0C0;
	border-left:none ;
	border-bottom: none;
	border-right:0.5px solid #C0C0C0;
	height: 50px;
	background-color: white;
}
.vir p{
margin: auto;
font-size: 13px;
color: green;
}

.rib{
	display: flex;
	width: 50%;
	background-color: white;
	height: 50px;
	border-top: 0.5px solid #C0C0C0;
	border-left: 0.5px solid #C0C0C0;
	border-bottom: none;
	border-right:none;
}

.rib p{
	margin: auto;
	color: green;
	font-size: 13px;
}


img{
	width: 300px;
}

p{
	margin-left: 10px;
	font-size: 13px;
	line-height: 5px;
}



h3{
	margin-left: 10px;
	font-weight: 600;
	font-size: 17px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding:10px;
	color: #347780;
}

.menudown{
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 0;
	display: flex;
}

.menudown a{
	background-color: #347780;
	padding: 10px;
	color: #fff;
	width: 50%;
	font-size: 10px;
	text-decoration: none;
	text-align:center;
}

.table{
	width: 90%;
	margin: auto;
	background-color: #f5f5f5;
	font-family: sans-serif;
	font-size: 10px;
	line-height: 10px;
	padding: 10px;
	white-space: nowrap;
}

.table tr{
	text-align: center;
	}
	
.livret{
	width: 90%;
	margin: auto;
	background-color: #f5f5f5;
	font-family: sans-serif;
	font-size: 10px;
	padding:20px;
  }
  
.credit{
	text-align: center;
	width: 90%;
	margin: auto;
	background-color: #f5f5f5;
	font-family: sans-serif;
	font-size: 10px;
	padding:25px;
}
  
nav li{
	font-size: 10px;
}
	
section{
	display: flex;
	background-color: #0f5a66;
	color:#fff;
	padding: 20px;
	margin-top: -30px;
	font-size: 2px;
	height: 90px;
}
	   
section p{
	margin-right: 135px;
	font-size: 15px;
	font-weight: 500;
} 

.social{
	background-color:#3b414a;
	width: 100%;
	
	text-align: center;
}

.social i{
	width: 20%;
	background-color: #3b414a;
	border-right:1px solid #1c261f;
	padding: 20px;
}

.agir{
	text-align: center;
	background-color: #232529;
}

.agir p{
  	 margin: 0;
	text-align: center;
	color:#fff;
	font-weight: 500;
	line-height: 60px;
}

.navbar-nav p{
	color:#347790;
	font-weight: 700;
}


.debit{
	  margin-left: 10px;
	margin-top: 15px;
	padding: 15px;
	margin: auto;
	width: 90%;
	
	margin-bottom: 15px;
	border: 2px solid gray;
}

input{
	width: 90%;
	padding: 10px;
	font-size: 15px;
	border-radius:0px;
	color: gray;
	background-color: #f4f4f4;
	border: 1px solid #c0c0c0;
}

input:hover{
	width: 90%;
	padding: 10px;
	color: black;
	border-radius:0px;
	font-size: 15px;
	border: 1px solid #347780;
	background-color: white;
}



.ok{
	width: 70%;
	background-color: #347780;
	color: white;
	padding: 10px;
}